* {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            body {
                height: 100%;
                width: 100%;
            }
            #guo_con {
                position: relative;
                height: 100%;
                width: 100%;
            }
            .R_item {
                position: absolute;
                top: 100px;
                left: 410px;
                height: 300px;
                width: 600px;
                border: solid 1px black;
            }
            #guo_footer {
                position: absolute;
                padding-left: 28%;
                top: 80.5%;
                height: 4%;
                width: 100%;
                border: 1px solid red;
            }
            .guo_footer_item {
                position: relative;
                margin-right: -0.8%;
                margin-top: 0.8%;
                display: inline-block;
                height: 50%;
                width: 8.5%;
                border: 1px solid black;
            }
            .first {
                border: 1px solid red;
            }
